.esp {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 12, 7, 0.5)),
		url(/01.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
}
.cardbody {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	width: auto;
	height: auto !important;
	align-items: center;
	text-align: center;
	margin: 1vw;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	box-shadow: 5px 5px 5px rgb(143, 142, 139);
	color: rgb(207, 207, 207) !important;
	background-color: black !important;
	opacity: 0.7;
}
.iconespecialidad{
	margin-top: 30px;
	font-size: 200%;
}
.titlees {
	font-size: 200% !important;
	font-weight: 800;
	color: rgb(207, 207, 207);
	text-align: center;
	margin: 1vw !important;
}
.titlecard {
	font-size: 120% !important;
	font-weight: 600 !important;
	color: rgb(207, 207, 207);
	text-align: center;
	margin: 2vw !important;
}
.listado {
	font-size: 100% !important;
	margin: 1vw !important;
	font-weight: 400 !important;
	padding: 1vw !important;
}
.cardlink1 {
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(27, 27, 27);
	color: rgb(207, 207, 207);
	font-size: 100%;
	border-radius: 5px;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	padding: 1vw!important;
	margin: 1vw;
}
.cardlink1:hover {
	opacity: 0.8;
	background-color: transparent;
	color: white;
}
