.bodygestion {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(
			100deg,
			rgba(255, 255, 240, 0.02),
			rgba(0, 0, 0, 1) 85%
		),
		url(/01.jpg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
	padding-bottom: 10px;
	margin-bottom:20px
}
.btnpanelgestion {
	font-weight: 500;
	font-size: 80% !important;
	background-color: rgb(27, 27, 27);
	color: rgb(207, 207, 207);
	width: auto;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px !important;
	cursor: pointer;
	text-align: center;
	margin: 5px;
	text-decoration: none;
}
.btnpanelgestion:hover {
	opacity: 0.8;
	background-color: rgb(27, 27, 27);
}
.titlegestion {
	text-align: center;
	font-size: 130%;
	margin-top:20px;
	margin-bottom: 20px;
	font-weight: 700;
	color: rgb(207, 207, 207);
}
.subtitlegestion {
	text-align: center;
	font-size: 120%;
   margin-bottom: 20px;
	font-weight: 400;
	color: rgb(207, 207, 207);
}
.datosexptes {
	text-align: center;
	font-size: 80%;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 400;
	color: rgb(207, 207, 207);
}
.titletabla {
	text-align: center;
	font-size: 130%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 800;
	color: rgb(207, 207, 207);
}
.btneditgestion {
	color: rgb(207, 207, 207);
	background-color: rgb(10, 61, 4);
	padding: 5px !important;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
}
.btnborragestion {
	color: rgb(207, 207, 207);
	background-color: rgb(111, 8, 10);
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	padding: 5px !important;
	cursor: pointer;
	margin: 5px;
}
.btnvergestion {
	color: rgb(207, 207, 207);
	background-color: rgb(21, 100, 160);
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	padding: 5px !important;
	cursor: pointer;
	margin: 5px;
}
.botonmp{
	background-color: rgb(12, 199, 251);
	border: 0.2vw outset rgb(4, 45, 89) !important;
	color:white;
	width: auto;
	align-self: center;
	padding: 8px;
	font-weight: 700;
	text-decoration: none!important;
}
.botonmp:hover {
	opacity: 0.8;
	background-color: rgb(4, 75, 105);
}
.botongoogleagenda {
	text-align: center;
	font-size: 80% !important;
	font-weight: 500;
	text-decoration: none;
	background-color: rgb(9, 19, 92);
	color: rgb(207, 207, 207) !important;
	width: auto;
	border-radius: 5px;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	cursor: pointer;
	display: flex !important;
	justify-content: center;
	align-items: center;
	padding: 5px !important;
}

.botongoogleagenda:hover {
	opacity: 0.8;
	color: white;
	background-color: transparent;
}
.modedittitle {
	font-size: 120% !important;
}
.modal-title{
	text-align: center!important;
	color: rgb(143, 142, 139);
}
.modeditinput {
	font-size: 100% !important;
}
.modeditlabel {
	font-size: 100% !important;
}
.modal-header {
	background-color: rgb(27, 27, 27) !important;
	color: rgb(207, 207, 207);
}
.btn-close {
	background-color: rgb(207, 207, 207) !important;
	color: rgb(207, 207, 207);
}
.modal-body {
	background-color: rgb(27, 27, 27) !important;
	color: rgb(207, 207, 207);
}
.modal-footer {
	background-color: rgb(27, 27, 27) !important;
	color: rgb(207, 207, 207);
}
.errors {
	color: rgb(207, 207, 207) !important;
	font-size: 2vw;
}
.btnconfmodal {
	font-size: 100% !important;
	font-weight: 600;
	margin: 1vw;
	margin-top: 4vw !important;
	background-color: rgb(10, 61, 4) !important;
	color: rgb(207, 207, 207);
	width: auto !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	cursor: pointer;
	padding: 2vw !important;
}
.btncancmodal {
	font-size: 100% !important;
	font-weight: 600;
	margin: 1vw;
	margin-top: 4vw !important;
	background-color: rgb(111, 8, 10) !important;
	color: rgb(207, 207, 207);
	width: auto !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	cursor: pointer;
	padding: 2vw !important;
	text-decoration: none;
	text-align: center;
}